body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.container{
    border: 1px solid grey;
    text-align: left;
}
.container h1{
    padding: 20px;
    box-sizing: border-box;
    color: blue;
    font-weight: bold;
}
.container p{
    color: green;
    text-align: center;
}
