*{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
<<<<<<< HEAD
    border: 1px solid blue;
=======
    border: 1px solid red;
>>>>>>> cabecera
    text-align: left;
}
.container h1{
    padding: 20px;
    box-sizing: border-box;
    color: blue;
    font-weight: bold;
    font-size: 1.6rem;
}
.container p{
    color: green;
    text-align: center;
    font-size: 1rem;
}
#cabecera{
    background-color: rgb(5, 5, 105);
    color: white;
    font-weight: bold;
    font-size: 3rem;
    box-shadow: 0px 2px 20px 0px black;
    margin: 0;
    font-size: ;
    padding: 20px 0px 20px 20px;
}
#cabecera #tagline{
    color: grey;
    padding: 0px 0px 0px 10px;
}
